# Terraform
terraform/.terraform/
terraform/.terraform.lock.hcl
terraform/terraform.tfstate
terraform/terraform.tfstate.backup


# Keys
terraform/terrakey
terraform/terrakey.pem
terraform/terrakey.pub

# macOS
.DS_Store
terraform/.DS_Store

# Ansible dynamic inventory
ansible/inventory.ini
