# Terraform
terraform/.terraform/
terraform/.terraform.lock.hcl
terraform/terraform.tfstate
terraform/terraform.tfstate.backup

# Keys
terraform/terrakey
terraform/terrakey.pem
terraform/terrakey.pub

# macOS
.DS_Store

