server {
    listen 80;

    location / {
        proxy_pass http://localhost:19999/;
    }

    location /netdata/ {
        proxy_pass http://localhost:19999/;
        proxy_set_header Host $host;
    }
}

